@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.jumbotron-title {
  font-weight: bold;
}

.header-img {
  max-height: 400px;
  min-width: 200px;
}

.header-title {
  color: white;
  font-size: 5rem;
  margin-bottom: 50px;
  font-family: Abril Fatface, cursive;
}

.header-p {
  color: white;
  font-size: 2rem;
}

.header {
  margin-bottom: 50px;
}
